.navbar-brand {
  font-family: "comic sans ms";
  font-size: 30px;
  color: #364f6b;
}
/* Style SLider */
.carousel-item {
  height: 500px;
  width: 100%;
  margin-left: 1em;
}
/* Slider */

.slider {
  margin-top: 150px;
  margin-bottom: 50px;
}

.post-item {
  margin-bottom: 50px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(1, 120, 255, 0.12);
  -moz-box-shadow: 0px 10px 25px 5px rgba(1, 120, 255, 0.12);
  box-shadow: 0px 10px 25px 5px rgba(1, 120, 255, 0.12);
}
.post-item .img-fluid {
  width: 400px;
  height: 200px;
}

.post-item-content {
  padding: 10px 20px;
}

.post-item-content h4 {
  margin-bottom: 10px;
}

.kolom .p {
  font-family: "Poppins";
}
.post-item-content h3 a {
  color: #333;
  font-family: "Poppins";
}

.post-item-content .readmore {
  position: absolute;
  right: 40px;
  padding: 3px 30px;
  border-radius: 6px;
  background: rgb(241, 128, 23);
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

/* Home */

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}
.box {
  background: linear-gradient(white, rgb(255, 187, 0));
  margin-bottom: -300px;
  width: 100%;
  height: 300px;
}

.box h1 {
  font-size: 20px;
  font-family: "comic sans ms";
  text-align: center;
}

.kolom {
  margin-top: 100px;
  margin-bottom: 150px;
}
.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
}
h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #f30c0c;
  text-decoration: none;
}

a.tbl {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl:hover {
  background: #f30c0c;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}
.wrapper img {
  margin-top: 100px;
  width: 100%;
  max-width: 450px;
  height: auto;
}

/* Market Place */
.jumbotron {
  background-color: #001230;
  width: 100%;
  height: 300px;
}
.display-4 {
  font-size: 30px;
  font-family: "comic sans ms";
  color: #ffffff;
}

/* Owl */
.owl-carousel .card-img-top {
  border-radius: 30px;
}
.owl-prev {
  left: -30px;
  margin-top: 100px;
}
.owl-next {
  right: -30px;
  margin-top: 100px;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 30%;
}

.centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.owl-prev span,
.owl-next span {
  font-size: 60px;
  color: #787878;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: transparent;
}

.box1 {
  background: #fae41e;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  height: 300px;
}

/* Footer */
.bg-success {
  margin-top: 200px;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
  section {
    display: block;
  }
  section img {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .post-item {
    max-height: 1000px;
    max-width: 500px;
  }
}
