@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #fffaf6;
  --secondary: #fb9128;
  --gray-300: #d1d5db;
  --gray-100: #f3f4f6;
  --gray-400: #9ca3af;

  --blue-800: #1e40af;
  --title: #042852;
}

.barang .img {
  height: 10px;
  width: 50px;
}
.img-publish {
  width: 50px;
  height: 50px;
  flex-direction: row;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-gap: 20px;
}

.grid > article {
  border-radius: 10px;
  width: 250px;
}

.grid > article img {
  width: 70%;
  height: 100px;
  image-rendering: pixelated;
}
.text h3 {
  margin-top: 5px;
  font-size: 20px;
  color: #a50000;
}
.text h6 {
  margin-top: 5px;
  font-size: 15px;
  color: #000000;
  font-size: bold;
}
/* Custom Class */

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.text-default {
  color: #9ca3af;
  line-height: 1.275rem;
}

.btn-custom-primary {
  background-color: var(--secondary);
  border: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
}

.bg-blue-800 {
  background-color: var(--blue-800);
}

.bg-blue-800:hover {
  background-color: #1e3a8a;
}

.btn-hover-primary:hover {
  background-color: #f17c06;
}
.btn-hover-primaryy:hover {
  background-color: #1e3a8a;
}

/* End Custom Class */

body {
  background-color: var(--primary);
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: var(--primary);
}
div.navbar {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.navbar ul {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  list-style-type: none;
}

div.navbar ul li {
  padding: 0 1.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  transition: color ease 0.3s;
}

.navbar ul li a:hover {
  color: var(--secondary);
}

.navbar .menus {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 27px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

.btn-register {
  background-color: var(--gray-300);
  border: 0;
  margin-left: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

/* Hero */
.bg-hero img {
  height: 300px;
  border-radius: 1rem;
}
.figure img {
  display: flex;
  height: 280px;
  border-radius: 1rem;
  image-rendering: pixelated;
  object-fit: cover;
}

#hero .title h3 {
  font-weight: 600;
  line-height: 40px;
  color: var(--title);
}
.column {
  margin-left: 20px;
  margin-top: 20px;
  width: 180px;
  float: left;
}

.inputs {
  margin-top: 20px;
  float: left;
  max-width: 55%;
}
.inputs h5 {
  font-size: 1em;
  font-weight: 20;
  color: #042852;
  line-height: 1.275rem;
  margin-bottom: 24px;
}

#hero .title p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #798fb6;
  line-height: 1.275rem;
}
#hero .title h4 {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 80;
  color: #0f254d;
  line-height: 1.275rem;
  margin-bottom: 1em;
}
#hero .title h2 {
  font-weight: 500;
  color: #dd441d;
  line-height: 1.275rem;
}

/* End Hero */

/* Lowongan */

#lowongan {
  padding-top: 6rem;
}

#lowongan .title h3 {
  font-weight: 500;
  font-size: 22px;
}

#lowongan .bg-lowongan {
  background-color: var(--title);
  height: 320px;
  width: 350px;
  border-radius: 0.5rem;
  width: 100%;
}

#lowongan .bg-lowongan h5 {
  font-weight: 500;
  font-size: 18px;
}

#lowongan .bg-lowongan p {
  font-weight: 400;
  font-size: 13px;
  color: var(--gray-300);
  line-height: 1.275rem;
}

#lowongan .bg-lowongan h6 {
  color: #afafaf;
}

/* End Lowongan */

/* Market Place */

#marketplace {
  padding-top: 6rem;
}

#marketplace .bg-marketplace {
  /* background-color: #f59e0b; */
  background-color: var(--title);
  height: 300px;
}

.owl-prev {
  left: -30px;
}

.owl-next {
  right: -30px;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: -30px;
}
.owl-prev span,
.owl-next span {
  font-size: 80px;
  color: black;
}

.dproduk p {
  font-weight: 300;
  color: #9ca3af;
  line-height: 1.275rem;
}
.img-publish {
  image-rendering: pixelated;
}

.small-img-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* width: 350px; */
  /* margin-left: 30px; */
}
.small-img-col img {
  width: 50px;
  height: 50px;
}
/* End Marketplace */

/* Bus Trans */

#wisata {
  padding-top: 8rem;
  /* background-image: url(/assets/img/bg-wisata.svg); */
  background-repeat: no-repeat;
  background-position: bottom;
}
/* 
#wisata .bg-wisata {
} */
#wisata .bg-wisata img {
  height: 250px;
  width: 350px;
  border-radius: 1rem;
}

#wisata .bg-wisata .desc {
  width: 340px;
  margin-top: 1rem;
}

#wisata .bg-wisata .desc p {
  font-size: 12px;
  line-height: 1.275rem;
  font-weight: 400;
}

/* End Bus Trans */

/* side Bar */

.sidebar {
  margin-bottom: 50px;
  margin-top: 20;
  height: 100%;
  overflow: auto;
}

.daftar-lowongan {
  width: 750px;
  max-width: 100%;
}
.daftar-berita {
  width: 750px;
  max-width: 100%;
}
.sidebar img {
  width: 100px;
  height: 80px;
  float: left;
  padding-right: 10px;
  margin-bottom: 10px;
  image-rendering: pixelated;
}
/* End sidebar */
/* Footer */
footer {
  margin-top: 8rem;
  height: 20vh;
  background-color: var(--title);
  color: #fff;
  padding-top: 40px;
  display: block;
  /* position: relative; */
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  text-align: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 0.2rem;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials a {
  text-decoration: none;
  color: #fff;
}

.socials li {
  margin: 0 15px;
}
/* End Footer */

/* penggunaan media query pada default tablet layout */
/* @media only screen and (min-width: 768px) and (max-width: 991px) {
} */

.custom-input-group {
  border: none;
  background-color: transparent;
}

input.custom-input-group:focus {
  outline: none;
}
.custom-input {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  border: 1px #e5eef6 solid;
  background-color: #fefefe;
  margin-bottom: 24px;
  padding-left: 20px;
  outline: none;
  color: #123049;
  font-size: 16px;
  color: #123049;
}

/* Login */

.privacy-content {
  font-size: 11px;
  margin-top: 10px;
  text-align: justify;
}

.news-login .title-news h6 {
  margin-top: -7px;
  width: 75%;
  color: var(--title);
  font-size: 18px;
  line-height: 1.275rem;
}

.news-login .tanggal-news {
  font-size: 12px;
  margin-left: -10px;
  font-weight: 500;
  color: var(--gray-400);
}
/* Kotak */
.kotak {
  border-style: outset;
  margin: 30px;
  padding: 20px;
  background-color: #fff;
}
input[type="submit"],
input[type="reset"] {
  background-color: #fb9128;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

.form-control-lg {
  height: 100px;
  font-size: 15px;
}
.lingkaran {
  width: 100px;
  height: 100px;
  background: #dac52c;
  border-radius: 100%;
  margin-bottom: 1em;
  text-align: center;
  line-height: 130px;
}

/* end kotak */

/* End Login */

/* End Halaman Home */

/* Halaman Lowongan */
#lowongan-kerja .lowongan-right {
  flex: 1;
  position: fixed;
  right: 10%;
  width: 20%;
  background-color: #fffaf6;
}

#lowongan-kerja .berita-right {
  flex: 1;
  right: 10%;
  width: 30%;
  background-color: #fffaf6;
}

#lowongan-kerja .wrap-lowongan {
  width: 90%;
}

/* End Halaman Lowongan */

/* penggunaan media query pada mobile layout */
@media only screen and (min-width: 480px) and (max-width: 991px) {
  /* Halaman Home */
  .hamburger {
    display: block;
  }
  .navbar-active {
    display: none !important;
    transition: all 0.2s ease-in-out;
  }

  .navbar .menus {
    background-color: var(--primary);
    transition: all 0.2s ease-in-out;
    position: absolute;
    padding: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    top: 8vh;
    left: 0;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }

  div.navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  div.navbar ul li {
    padding: 10px 0;
  }
  .button-right {
    margin-top: 0.5rem;
  }
  .navbar {
    display: block;
  }
  .sidebar {
    display: none;
  }

  /* Hero */

  .bg-hero img {
    height: auto;
    border-radius: 0.5rem;
  }
  .figure img {
    height: auto;
    border-radius: 0.5rem;
    image-rendering: pixelated;
  }

  #hero .title h3 {
    margin-top: 1rem;
    line-height: 30px;
    font-size: 22px;
  }

  /* End Hero */

  /* Marketplace */

  #marketplace .bg-marketplace img {
    display: none;
  }

  #marketplace .bg-marketplace {
    text-align: center;
  }

  .barang {
    left: 0%;
  }
  .figure img {
    display: flex;
    width: 70%;
    height: 200px;
    border-radius: 1rem;
    image-rendering: pixelated;
    object-fit: cover;
  }

  #hero .title h4 {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 80;
    color: #0f254d;
    line-height: 1.275rem;
    margin-bottom: 1em;
  }

  .inputs h5 {
    font-size: 0.9em;
    font-weight: 10;
    color: #042852;
    line-height: 1rem;
    margin-bottom: 24px;
  }
  #hero .title h2 {
    font-weight: 500;
    color: #dd441d;
    line-height: 1.275rem;
    font-size: 20px;
  }

  /* End Halaman home */

  #lowongan-kerja .lowongan-right {
    position: absolute;
    top: 15%;
    background-color: transparent;
    left: 0;
    width: 100%;
    padding-right: 1.5rem;
  }

  #lowongan-kerja .berita-right {
    position: absolute;
    top: 15%;
    background-color: transparent;
    left: 0;
    width: 100%;
    padding-right: 1.5rem;
  }

  #lowongan-kerja .daftar-lowongan {
    padding-top: 40%;
  }
  #lowongan-kerja .daftar-berita {
    padding-top: 0%;
  }

  #lowongan-kerja .wrap-lowongan {
    width: 100%;
    height: auto;
    position: relative;
  }
  .daftar-lowongan {
    width: 100%;
    height: auto;
  }
  .daftar-berita {
    width: 100%;
    height: auto;
  }
  .berita-right {
    display: none;
  }
}
/* .grid {
  grid-template-columns: repeat(2, 1fr);
} */
@media only screen and (min-width: 280px) and (max-width: 991px) {
  .sidebar {
    display: none;
  }
  .berita-right {
    display: none;
  }
  .grid {
    padding-top: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
}
